.how {
  padding-top: 60px;

  &Item {
    padding: 32px 32px 38px;
    min-height: 320px;
    height: 100%;

    &Title {
      font-weight: 600;
    }

    &Count {
      font-weight: 700;
      font-size: 56px;
      line-height: 110%;
      opacity: .3;
    }
  }
}