.portfolio {
  overflow: hidden;

  &__head {
    margin-bottom: 60px;

    @include tablet {
      margin-bottom: 40px;
    }

    @include tablet-min {
      margin-bottom: 20px;
    }
  }

  &__more {}

  &Slide {
    height: auto;
    .portfolioCard{
      height: 100%;
    }
  }

  &Slider {
    padding-right: 160px;
    overflow: visible;
  }

  &Card {
    display: flex;
    background: var(--white);

    &Title {
      max-width: 320px;
      transition: color .2s linear;
      &:hover {
        color: var(--yellow);
      }

      h3 {
        font-weight: 600;
      }
    }

    &Img {
      flex-shrink: 0;
      transition: opacity .2s linear;
      &:hover {
        opacity: .85;
      }

      img {
        height: 480px;
        width: 480px;
        object-fit: cover;
        min-height: 100%;
      }
    }

    &Content {
      padding: 34px 60px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}

.portfolioCardTasks {
  margin-bottom: 24px;

  ul {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;

    li {
      display: flex;
      column-gap: 16px;

      &:not(:last-child) {
        margin-bottom: 16px;
      }
    }
  }
}

.portfolioCardTaskName {
  min-width: 80px;
  flex-shrink: 0;
  line-height: 150%;
  color: var(--gray);
}

.portfolioCardStats {
  margin-bottom: 24px;

  ul {
    list-style-type: none;
    padding-left: 0;
    column-gap: 30px;
    margin-bottom: 0;

    li {
      display: flex;
      flex-direction: column;
    }
  }
}

.portfolioCardStatName {
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 32px;
  line-height: 100%;
  color: var(--black);
}

.portfolioCardStatText {
  font-weight: 500;
  font-size: 13px;
  line-height: 123%;
  letter-spacing: 0.02em;
  max-width: 180px;
}