.stat {

  .col-lg-4 {
    &:not(:last-child) {
      .statItem {
        border-right: 1px solid var(--dark-grey);
        height: 100%;
      }
    }
  }

  &Item {
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &Title {
      font-weight: 600;
      font-size: 56px;
      line-height: 100%;
      color: var(--yellow)
    }

    &Descr {
      font-weight: 500;
      font-size: 20px;
      line-height: 120%;
      letter-spacing: 0.02em;
      color: var(--white);
      max-width: 220px;
    }
  }
}