<section class="blag sect overflow-hidden">
  <div class="container">
    <div class="portfolio__head">
      <h2 data-aos="fade-right" class="s-title">Благодарности</h2>
    </div>
  </div>

  <div class="swiper blagSlider">
    <div class="swiper-wrapper">
      <!-- Первый круг -->
      <a href="@img/blag-1.jpg" data-fancybox="blag-1" class="swiper-slide blagSlide">
        <img src="@img/blag-1.jpg" alt="image">
      </a>
      <a href="@img/blag-2.jpg" data-fancybox="blag-1" class="swiper-slide blagSlide">
        <img src="@img/blag-2.jpg" alt="image">
      </a>
      <a href="@img/blag-3.jpg" data-fancybox="blag-1" class="swiper-slide blagSlide">
        <img src="@img/blag-3.jpg" alt="image">
      </a>
      <a href="@img/blag-4.jpg" data-fancybox="blag-1" class="swiper-slide blagSlide">
        <img src="@img/blag-4.jpg" alt="image">
      </a>

      <!-- Второй круг (дублируем) -->
      <a href="@img/blag-1.jpg" data-fancybox="blag-1" class="swiper-slide blagSlide">
        <img src="@img/blag-1.jpg" alt="image">
      </a>
      <a href="@img/blag-2.jpg" data-fancybox="blag-1" class="swiper-slide blagSlide">
        <img src="@img/blag-2.jpg" alt="image">
      </a>
      <a href="@img/blag-3.jpg" data-fancybox="blag-1" class="swiper-slide blagSlide">
        <img src="@img/blag-3.jpg" alt="image">
      </a>
      <a href="@img/blag-4.jpg" data-fancybox="blag-1" class="swiper-slide blagSlide">
        <img src="@img/blag-4.jpg" alt="image">
      </a>   
      <!-- Третий круг (для широких мониторов 2K / 4K) -->
      <a href="@img/blag-1.jpg" data-fancybox="blag-1" class="swiper-slide blagSlide">
        <img src="@img/blag-1.jpg" alt="image">
      </a>
      <a href="@img/blag-2.jpg" data-fancybox="blag-1" class="swiper-slide blagSlide">
        <img src="@img/blag-2.jpg" alt="image">
      </a>
      <a href="@img/blag-3.jpg" data-fancybox="blag-1" class="swiper-slide blagSlide">
        <img src="@img/blag-3.jpg" alt="image">
      </a>
      <a href="@img/blag-4.jpg" data-fancybox="blag-1" class="swiper-slide blagSlide">
        <img src="@img/blag-4.jpg" alt="image">
      </a> 

    </div>
  </div>
  <div class="swiper blagSlider blagSlider--reverse">
    <div class="swiper-wrapper">
      <!-- Первый круг -->
      <a href="@img/blag-1.jpg" data-fancybox="blag-2" class="swiper-slide blagSlide">
        <img src="@img/blag-1.jpg" alt="image">
      </a>
      <a href="@img/blag-2.jpg" data-fancybox="blag-2" class="swiper-slide blagSlide">
        <img src="@img/blag-2.jpg" alt="image">
      </a>
      <a href="@img/blag-3.jpg" data-fancybox="blag-2" class="swiper-slide blagSlide">
        <img src="@img/blag-3.jpg" alt="image">
      </a>
      <a href="@img/blag-4.jpg" data-fancybox="blag-2" class="swiper-slide blagSlide">
        <img src="@img/blag-4.jpg" alt="image">
      </a> 
      <!-- Второй круг (дублируем) -->
      <a href="@img/blag-1.jpg" data-fancybox="blag-2" class="swiper-slide blagSlide">
        <img src="@img/blag-1.jpg" alt="image">
      </a>
      <a href="@img/blag-2.jpg" data-fancybox="blag-2" class="swiper-slide blagSlide">
        <img src="@img/blag-2.jpg" alt="image">
      </a>
      <a href="@img/blag-3.jpg" data-fancybox="blag-2" class="swiper-slide blagSlide">
        <img src="@img/blag-3.jpg" alt="image">
      </a>
      <a href="@img/blag-4.jpg" data-fancybox="blag-2" class="swiper-slide blagSlide">
        <img src="@img/blag-4.jpg" alt="image">
      </a> 
      <!-- Третий круг (для широких мониторов 2K / 4K) -->
      <a href="@img/blag-1.jpg" data-fancybox="blag-2" class="swiper-slide blagSlide">
        <img src="@img/blag-1.jpg" alt="image">
      </a>
      <a href="@img/blag-2.jpg" data-fancybox="blag-2" class="swiper-slide blagSlide">
        <img src="@img/blag-2.jpg" alt="image">
      </a>
      <a href="@img/blag-3.jpg" data-fancybox="blag-2" class="swiper-slide blagSlide">
        <img src="@img/blag-3.jpg" alt="image">
      </a>
      <a href="@img/blag-4.jpg" data-fancybox="blag-2" class="swiper-slide blagSlide">
        <img src="@img/blag-4.jpg" alt="image">
      </a>   
    </div>
  </div>

</section>