<section class="sect bg-white">
  <div class="container">
    <div class="text-gray mb-3 pb-1">
      Достигнутые результаты — Доказано делом
    </div>
    <h2 class="h2 s-title mb-3 pb-1">
      Опыт обеспечения стабильности ИТ-систем
    </h2>
    <div class="fz-21">
      Мы обладаем практическим опытом удержания ИТ-систем под экстремальными нагрузками в моменты геополитических и
      конкурентных кризисов.
    </div>

    <div class="mt-5 pt-3">
      <div class="fz-36 text-yellow fw-semibold">
        Кейс
      </div>
      <h2 class="s-title mb-4 pb-3">
        «Вести-Иркутск»
      </h2>
      <div class="row">
        <div class="col-lg-9">

          <div class="mb-4 pb-3">
            <div class="p-4 bg--light border-l-3-dark-gray">
              <div class="text-gray mb-2">
                Результат
              </div>
              <div class="fz-21 text-black">
                Защита крупного регионального общественно-политического медиапортала
              </div>
            </div>
          </div>

          <div class="mb-4 pb-3">
            <div class="text-gray mb-2">
              Ситуация
            </div>
            <div class="fz-18">
              Весной 2022 года на новостной сайт была совершена массированная, спланированная DDoS-атака с
              использованием сотен тысяч зараженных устройств. Нагрузка на серверы мгновенно превысила 1,2 миллиона
              запросов в секунду.
            </div>
          </div>

          <div class="mb-4 pb-3">
            <div class="text-gray mb-2">
              Проведенные работы
            </div>
            <div class="fz-18">
              В экстренном режиме наши специалисты развернули двухэшелонную защиту. Был подключен и настроен Cloudflare
              в режиме "Under Attack", написаны кастомные конфигурационные файлы для веб-сервера Nginx с жестким
              лимитированием частоты обращений. На протяжении 5 дней пиковых нагрузок была организована круглосуточная
              вахта 3 дежурных системных администраторов, которые отслеживали аномалии и оперативно откатывали ложные
              блокировки реальных читателей.
            </div>
          </div>

          <div class="mb-4 pb-3">
            <div class="text-gray mb-2">
              Достигнутый результат
            </div>
            <div class="fz-18">
              Новостной портал сохранил 100% доступность на протяжении всей атаки, пока другие медиаресурсы региона
              лежали сутками. Журналисты беспрепятственно публиковали экстренные материалы, а сайт не потерял ни одной
              позиции в поисковой выдаче Яндексе.
            </div>
          </div>

          <a href="#" class="button gap-1">
            Смотреть ещё примеры работ
            <svg style="width: 24px; height: 24px; fill: var(--black); stroke: var(--black);">
              <use xlink:href="img/icons/icons.svg#arrow-up-right"></use>
            </svg>
          </a>
        </div>
        <div class="col-lg-3">
          <div class="contentPosterLink">
            <img src="@img/poster.jpg" alt="image">
            <a href="#" class="button gap-1">
              Перейти на сайт
              <svg style="width: 24px; height: 24px; fill: var(--black); stroke: var(--black);">
                <use xlink:href="img/icons/icons.svg#arrow-up-right"></use>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>