<section class="sect contacts bg--yellow">
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<div class="pr-60">
					<h2 class="h2 mb-3 pb-1 contTitle text-dark-gray">Защитите свой ресурс до того, как его атакуют конкуренты
					</h2>
					<div class="fz-21">
						Не ждите падения серверов. Оставьте заявку прямо сейчас — наши инженеры подключат базовую защиту, проведут
						аудит настроек безопасности вашего веб-сервера и подготовят план отражения кибератак.
					</div>
				</div>

			</div>
			<div class="col-lg-6">
				<div data-aos="fade-up" class="contFormW">
					<h3 class="h3 mb-3 pb-1 fw-semibold">Оставить заявку на защиту от DDoS</h3>
					<form class="contYellowForm" action="#">
						<div class="mb-2">
							<input type="text" placeholder="Ваше имя" class="input" />
						</div>
						<div class="mb-2">
							<input type="text" placeholder="Телефон или Email" class="input" />
						</div>
						<div class="mb-3">
							<textarea rows="3" class="input" placeholder="Вопрос или сообщение"></textarea>
						</div>
						<div class="d-flex align-items-center justify-content-between gap-4 gap-md-2 flex-wrap">
							<input type="checkbox" id="contacts-policy" checked class="policy-input" />
							<label for="contacts-policy" class="caption policy-label">Согласен на
								<a href="#">обработку
									персональных данных</a></label>
							<button type="submit" class="button w-sm-full _black">Отправить</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>