<button class="btn-reset btn-up">
  <svg>
    <use xlink:href='img/icons/icons.svg#icon-arrow'></use>
  </svg>
</button>

<footer class="footer">

  <div class="footerT">
    <div class="container">
      <div class="row mb-3">
        <div class="col-lg-4">
          <a class="h5 mb-0" href="#">
            Услуги
          </a>
        </div>
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
          <div class="d-flex footerNavLinks justify-content-end">
            <a href="#" class="h5 mb-0">Кейсы</a>
            <a href="#" class="h5 mb-0">Цены и сроки</a>
            <a href="#" class="h5 mb-0">Контакты</a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4">
          <div class="mb-4">
            <div class="fw-medium mb-2">Аналитика и проектирование</div>
            <div class="d-flex flex-column gap-3">
              <a href="#" class="footer__policy">Аудит текущей IT-инфраструктуры</a>
              <a href="#" class="footer__policy">Проектирование архитектуры систем</a>
              <a href="#" class="footer__policy">UX/UI-дизайн и интерактивные прототипы</a>
            </div>
          </div>
          <div class="mb-4">
            <div class="fw-medium mb-2">Сложные интеграции и разработка</div>
            <div class="d-flex flex-column gap-3">
              <a href="#" class="footer__policy">Интеграция 1С и сайта (OData, обмен в реальном времени)</a>
              <a href="#" class="footer__policy">B2B-порталы и личные кабинеты для дилеров</a>
              <a href="#" class="footer__policy">Интеграция с любыми CRM-системами (amoCRM, Битрикс24, Jivo,
                YClients)</a>
              <a href="#" class="footer__policy">Проектирование и программирование систем умного дома</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="mb-4">
            <div class="fw-medium mb-2">AI и облачные технологии</div>
            <div class="d-flex flex-column gap-3">
              <a href="#" class="footer__policy">AI-боты и ассистенты </a>
              <a href="#" class="footer__policy">Миграция на российский хостинг </a>
            </div>
          </div>
          <div class="mb-4">
            <div class="fw-medium mb-2">Рост и поддержка</div>
            <div class="d-flex flex-column gap-3">
              <a href="#" class="footer__policy">Доработка и поддержка текущих проектов на любом этапе </a>
              <a href="#" class="footer__policy">SEO-продвижение и настройка рекламы (Яндекс.Директ, VK) </a>
              <a href="#" class="footer__policy">Python-аутстаффинг </a>
            </div>
          </div>
        </div>
        <div class="col-lg-4"></div>
      </div>
    </div>
  </div>

  <div class="footerB">
    <div class="container">
      <div class="row">

        <div class="col-lg-4">
          <div class="d-flex flex-column gap-2">
            <div>2025 © Вангер.рф, г. Иркутск</div>
            <div>ИНН 381020983800</div>
            <div>ОГРНИП 322385000025953</div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="d-flex flex-column gap-2">
            <a href="#" class="footer__policy">Политика обработки персональных данных</a>
            <a href="#" class="footer__policy">Пользовательское соглашение</a>
            <a href="#" class="footer__policy">Карта сайта</a>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="d-flex flex-column">
            <div>г. Иркутск, ул. Пискунова, д. 160, оф. 626</div>
            <a href="mailto:mail@vanger.org" class="footer__policy">mail@vanger.org</a>
          </div>
        </div>

      </div>
    </div>
  </div>

</footer>