<section class="hero sect-parallax bg--yellow">
  <div class="container hero__container">
    <h1 data-aos="fade-right" class="bann-title mt-0 mb-3 hero__title">
     Автоматизация бизнес-процессов и&nbsp;сложная веб-разработка на&nbsp;Python
    </h1>
    <p data-aos-delay="150" data-aos="fade-right" class="lg-text hero__content">
      Связываем 1С с сайтами, разрабатываем B2B-порталы, AI-ботов и мигрируем проекты на российские серверы. Техническая
      команда из Иркутска.
    </p>
    <div class="d-flex gap-40 flex-wrap">
      <button data-bs-toggle="modal" data-bs-target="#price-learn-modal" class="button _black">Оставить заявку</button>
      <a href="#" class="button _simple gap-2 hover-black px-0 hover-img-transform">
        Смотреть кейсы
        <img src="@img/icons/arrow-up-right.svg" alt="icon">
      </a>
    </div>


    <div class="hero__gallery">
      <div class="hero__gallery-wrapper">
        <img src="@img/cock.svg" alt="image" class="hero__gallery-img sect-parallax-el" />
        <img src="@img/cock-stroke.svg" alt="image" class="hero__gallery-stroke sect-parallax-el" />
      </div>
    </div>
  </div>
</section>