<section class="sect hero hero-serv pt-0">
	<div class="container">

		<ul class="list breadcrumbs">
			<li><a href="/">Главная</a></li>
			<li><a href="/">Услуги</a></li>
			<li>Защита данных и администрирование</li>
		</ul>

		<div class="row">
			<div class="col-lg-8">
				<h1 data-aos="fade-right" class="bann-title mt-0 mb-3 pb-1 hero__title">
					Защита данных и администрирование
				</h1>
				<p data-aos-delay="150" data-aos="fade-right" class="lg-text mb-3 pb-1">
					Гарантируем 100% доступность ваших веб-ресурсов в периоды пиковых нагрузок и спланированных кибератак.
					Развертываем интеллектуальную двухэшелонную защиту, которая блокирует бот-сети, сохраняя полную скорость
					доступа для реальных клиентов.
				</p>
				<div class="d-flex gap-3 flex-wrap">
					<button data-bs-toggle="modal" data-bs-target="#price-learn-modal" class="button">
						Заказать
						<svg style="width: 24px; height: 24px; fill: var(--black); stroke: var(--black);">
							<use xlink:href="img/icons/icons.svg#arrow-up-right"></use>
						</svg>
					</button>
					<a href="#" class="button _black-border hover-img-transform">
						Смотреть примеры работ
					</a>
				</div>
			</div>
			<div class="col-lg-4">
				<img class="heroImg" src="@img/hero-prot.svg" alt="image">
			</div>
		</div>

	</div>
</section>