<section class="how sect bg-white">
  <div class="container">
    <div class="text-gray mb-3 pb-1">
      Проблематика — Почему стандартный хостинг не справляется
    </div>
    <h2 class="h2 s-title mb-3 pb-1">
      Как кибератаки разрушают онлайн-бизнес за&nbsp;считанные часы:
    </h2>
    <div class="fz-21">
      Когда ваш сайт подвергается массированной атаке распределенной бот-сети, обычная инфраструктура хостинга мгновенно
      перегружается. Это приводит к тяжелым последствиям для бизнеса:
    </div>
    <div class="row mt-5 pt-3" style="--bs-gutter-x: 20px;">

      <div class="col-lg-6 mb-3 pb-1">
        <div class="howItem bg--yellow">
          <div class="howItemCount mb-3 pb-1 text-black">
            1
          </div>
          <h3 class="howItemTitle mb-2">
            Принудительное отключение провайдером
          </h3>
          <div class="howItemDescr fz-18 text-dark-gray">
            Чтобы спасти остальное оборудование дата-центра, хостинг-провайдеры просто отключают атакованный сайт,
            оставляя вас без клиентов.
          </div>
        </div>
      </div>

      <div class="col-lg-6 mb-3 pb-1">
        <div class="howItem bg--light">
          <div class="howItemCount mb-3 pb-1 text-stroke" style="opacity: 1;">
            2
          </div>
          <h3 class="howItemTitle mb-2">
            Потеря SEO-позиций в Яндексе и Google
          </h3>
          <div class="howItemDescr fz-18 text-dark-gray">
            Длительный простой (downtime) приводит к тому, что поисковые роботы пессимизируют сайт в выдаче, стирая
            результаты месяцев поисковой оптимизации.
          </div>
        </div>
      </div>

      <div class="col-lg-6 mb-3 pb-1">
        <div class="howItem bg--black">
          <div class="howItemCount mb-3 pb-1 text-gray" style="opacity: 1;">
            3
          </div>
          <h3 class="howItemTitle mb-2 text-yellow">
            Слив рекламного бюджета
          </h3>
          <div class="howItemDescr fz-18 text-light">
            Объявления в Яндекс.Директ продолжают крутиться и списывать деньги за клики, но пользователи при переходе
            видят лишь ошибку 502/504 Bad Gateway.
          </div>
        </div>
      </div>

      <div class="col-lg-6 mb-3 pb-1">
        <div class="howItem bg--yellow">
          <div class="howItemCount mb-3 pb-1 text-black">
            4
          </div>
          <h3 class="howItemTitle mb-2">
            Репутационный ущерб
          </h3>
          <div class="howItemDescr fz-18 text-dark-gray">
            Постоянные сбои в работе личных кабинетов или платежных шлюзов подрывают доверие партнеров и заставляют
            клиентов уходить к конкурентам.
          </div>
        </div>
      </div>

    </div>
  </div>
</section>