<section class="partners sect overflow-hidden">
  <div class="container">
    <div class="portfolio__head">
      <h2 data-aos="fade-right" class="s-title">Клиенты и партнеры</h2>
    </div>
  </div>

  <div class="swiper partnersSlider">
    <div class="swiper-wrapper">

      <a href="#" class="swiper-slide partnersSlide partnersLogo">
        <img src="@img/partn-1.svg" alt="logo">
      </a>

      <a href="#" class="swiper-slide partnersSlide partnersLogo">
        <img src="@img/partn-2.svg" alt="logo">
      </a>

      <a href="#" class="swiper-slide partnersSlide partnersLogo">
        <img src="@img/partn-3.svg" alt="logo">
      </a>

      <a href="#" class="swiper-slide partnersSlide partnersLogo">
        <img src="@img/partn-4.svg" alt="logo">
      </a>

      <a href="#" class="swiper-slide partnersSlide partnersLogo">
        <img src="@img/partn-5.svg" alt="logo">
      </a>

      <a href="#" class="swiper-slide partnersSlide partnersLogo">
        <img src="@img/partn-1.svg" alt="logo">
      </a>

      <a href="#" class="swiper-slide partnersSlide partnersLogo">
        <img src="@img/partn-2.svg" alt="logo">
      </a>

      <a href="#" class="swiper-slide partnersSlide partnersLogo">
        <img src="@img/partn-3.svg" alt="logo">
      </a>

    </div>
  </div>

</section>