<section class="sect portfolio">
  <div class="container">
    <div class="portfolio__head">
      <h2 data-aos="fade-right" class="s-title">Кейсы</h2>
    </div>

    <div class="swiper portfolioSlider">
      <div class="swiper-wrapper">

        <div class="swiper-slide portfolioSlide">
          <div class="portfolioCard">
            <a href="#" class="portfolioCardImg">
              <img src="@img/portf-1.jpg" alt="image">
            </a>
            <div class="portfolioCardContent">
              <a href="#" class="portfolioCardTitle mb-3 d-block">
                <h3>
                  Перенос СМИ на&nbsp;РФ-серверы
                </h3>
              </a>
              <div class="portfolioCardTasks">
                <ul>
                  <li class="portfolioCardTask">
                    <div class="portfolioCardTaskName">
                      Проблема
                    </div>
                    <div class="portfolioCardTaskText">
                      Непрерывные DDoS-атаки и взломы сайтов СМИ с 2022 г., нарушение доступности.
                    </div>
                  </li>
                  <li class="portfolioCardTask">
                    <div class="portfolioCardTaskName">
                      Решение
                    </div>
                    <div class="portfolioCardTaskText">
                      Оперативный перенос на защищенные серверы, закрытие уязвимостей, круглосуточный мониторинг и
                      фильтрация трафика.
                    </div>
                  </li>
                </ul>
              </div>
              <div class="portfolioCardStats">
                <ul class="d-flex flex-wrap">
                  <li class="portfolioCardStat">
                    <div class="portfolioCardStatName">
                      1,5 млн.+
                    </div>
                    <div class="portfolioCardStatText">
                      запросов/мин в пике
                    </div>
                  </li>
                  <li class="portfolioCardStat">
                    <div class="portfolioCardStatName">
                      10 сайтов
                    </div>
                    <div class="portfolioCardStatText">
                      СМИ на стабильной поддержке
                    </div>
                  </li>
                </ul>
              </div>
              <div class="d-flex gap-3 justify-content-between">
                <a href="#" class="portfolioCardLink button _simple p-0">
                  Подробнее
                </a>
                <span class="caption">Декабрь 2025</span>
              </div>
            </div>
          </div>
        </div>

        <div class="swiper-slide portfolioSlide">
          <div class="portfolioCard">
            <a href="#" class="portfolioCardImg">
              <img src="@img/portf-2.jpg" alt="image">
            </a>
            <div class="portfolioCardContent">
              <a href="#" class="portfolioCardTitle mb-3 d-block">
                <h3>
                  АзияМьюзик +Свет и музыка
                </h3>
              </a>
              <div class="portfolioCardTasks">
                <ul>
                  <li class="portfolioCardTask">
                    <div class="portfolioCardTaskName">
                      Проблема
                    </div>
                    <div class="portfolioCardTaskText">
                      Сложная кастомизированная 1С и большое количество товаров не позволяли наладить обмен с сайтами.
                      Нужен был онлайн-каталог для двух брендов.
                    </div>
                  </li>
                  <li class="portfolioCardTask">
                    <div class="portfolioCardTaskName">
                      Решение
                    </div>
                    <div class="portfolioCardTaskText">
                      Разработали новые сайты и настроили двусторонний обмен с 1С (со стороны сайта и со стороны 1С).
                    </div>
                  </li>
                </ul>
              </div>
              <div class="portfolioCardStats">
                <ul class="d-flex flex-wrap">
                  <li class="portfolioCardStat">
                    <div class="portfolioCardStatName">
                      70 000+
                    </div>
                    <div class="portfolioCardStatText">
                      товаров в базе 1С
                    </div>
                  </li>
                </ul>
              </div>
              <div class="d-flex gap-3 justify-content-between">
                <a href="#" class="portfolioCardLink button _simple p-0">
                  Подробнее
                </a>
                <span class="caption">Декабрь 2025</span>
              </div>
            </div>
          </div>
        </div>

        <div class="swiper-slide portfolioSlide">
          <div class="portfolioCard">
            <a href="#" class="portfolioCardImg">
              <img src="@img/portf-3.jpg" alt="image">
            </a>
            <div class="portfolioCardContent">
              <a href="#" class="portfolioCardTitle mb-3 d-block">
                <h3>
                  Дикардс
                </h3>
              </a>
              <div class="portfolioCardTasks">
                <ul>
                  <li class="portfolioCardTask">
                    <div class="portfolioCardTaskName">
                      Проблема
                    </div>
                    <div class="portfolioCardTaskText">
                      Большое количество систем учёта клиентских данных с разной структурой и методами обмена —
                      необходима их интеграция с сервисом электронных карт лояльности «Дикардс».
                    </div>
                  </li>
                  <li class="portfolioCardTask">
                    <div class="portfolioCardTaskName">
                      Решение
                    </div>
                    <div class="portfolioCardTaskText">
                      Успешно реализованы модули обмена данными с каждым из требуемых сервисов.
                    </div>
                  </li>
                </ul>
              </div>
              <div class="portfolioCardStats">
                <ul class="d-flex flex-wrap">
                  <li class="portfolioCardStat">
                    <div class="portfolioCardStatName">
                      6+ лет
                    </div>
                    <div class="portfolioCardStatText">
                      непрерывной работы и развития сервиса
                    </div>
                  </li>
                  <li class="portfolioCardStat">
                    <div class="portfolioCardStatName">
                      160 000+
                    </div>
                    <div class="portfolioCardStatText">
                      выпущенных карт лояльности
                    </div>
                  </li>
                </ul>
              </div>
              <div class="d-flex gap-3 justify-content-between">
                <a href="#" class="portfolioCardLink button _simple p-0">
                  Подробнее
                </a>
                <span class="caption">Декабрь 2025</span>
              </div>
            </div>
          </div>
        </div>

        <div class="swiper-slide portfolioSlide">
          <div class="portfolioCard">
            <a href="#" class="portfolioCardImg">
              <img src="@img/portf-4.jpg" alt="image">
            </a>
            <div class="portfolioCardContent">
              <a href="#" class="portfolioCardTitle mb-3 d-block">
                <h3>
                  Автоматизация сбора персональных данных клиентов
                </h3>
              </a>
              <div class="portfolioCardTasks">
                <ul>
                  <li class="portfolioCardTask">
                    <div class="portfolioCardTaskName">
                      Проблема
                    </div>
                    <div class="portfolioCardTaskText">
                      Менеджерам для продолжения сделки требовались полные персональные данные клиентов. Нужен был
                      безопасный и удобный канал сбора.
                    </div>
                  </li>
                  <li class="portfolioCardTask">
                    <div class="portfolioCardTaskName">
                      Решение
                    </div>
                    <div class="portfolioCardTaskText">
                      Онлайн-анкета с защищённой передачей данных во внутреннюю систему компании.
                    </div>
                  </li>
                </ul>
              </div>
              <div class="portfolioCardStats">
                <ul class="d-flex flex-wrap">
                  <li class="portfolioCardStat">
                    <div class="portfolioCardStatName">
                      150
                    </div>
                    <div class="portfolioCardStatText">
                      заполненных анкет ежедневно
                    </div>
                  </li>
                </ul>
              </div>
              <div class="d-flex gap-3 justify-content-between">
                <a href="#" class="portfolioCardLink button _simple p-0">
                  Подробнее
                </a>
                <span class="caption">Декабрь 2025</span>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="d-flex align-items-center justify-content-between mt-4 mt-md-5">
      <a href="#" class="button _simple portfolio__more p-0">Все кейсы</a>
      <div class="d-flex gap-2">
        <button class="navArrow _prev">
          <svg>
            <use xlink:href="img/icons/icons.svg#arrow-prev"></use>
          </svg>
        </button>
        <button class="navArrow _next">      
          <svg>
            <use xlink:href="img/icons/icons.svg#arrow-next"></use>
          </svg>
        </button>
      </div>

    </div>

  </div>
</section>