<section class="protect-adv sect bg--black">
  <div class="container">
    <div class="protect-adv-grid">

      <div class="protect-adv-item">
        <div class="protect-adv-item-title">1.2 млн.</div>
        <div class="protect-adv-item-subtitle fz-18 fw-medium text-white mb-3">запросов/секунду</div>
        <div class="protect-adv-item-descr text-gray">
          Гарантируем 100% доступность ваших веб-ресурсов в периоды пиковых нагрузок и спланированных кибератак.
          Развертываем интеллектуальную двухэшелонную защиту, которая блокирует бот-сети, сохраняя полную скорость
          доступа для реальных клиентов.
        </div>
      </div>

      <div class="protect-adv-item">
        <div class="protect-adv-item-title">Cloudflare</div>
        <div class="protect-adv-item-subtitle fz-18 fw-medium text-white mb-3">+Nginx</div>
        <div class="protect-adv-item-descr text-gray">
          Успешно нейтрализуем атаки мощностью до миллионов запросов в секунду на бизнес-критичные системы. Глобальный
          сетевой экран Cloudflare DNS/WAF + локальные кастомные правила на уровне веб-сервера.
        </div>
      </div>

      <div class="protect-adv-item">
        <div class="protect-adv-item-title">2</div>
        <div class="protect-adv-item-subtitle fz-18 fw-medium text-white mb-3">Двухконтурный фильтр</div>
        <div class="protect-adv-item-descr text-gray">
          Глобальный сетевой экран Cloudflare DNS/WAF + локальные кастомные правила на уровне веб-сервера.
        </div>
      </div>

      <div class="protect-adv-item">
        <div class="protect-adv-item-title">24/7</div>
        <div class="protect-adv-item-subtitle fz-18 fw-medium text-white mb-3">поддержка круглосуточно</div>
        <div class="protect-adv-item-descr text-gray">
          Круглосуточная вахта ИТ-инженеров. Непрерывный мониторинг и оперативное вмешательство дежурных администраторов
          в моменты пиковых инцидентов.
        </div>
      </div>

    </div>
  </div>
</section>