<section class="prot-tech sect overflow-hidden">
  <div class="container">

    <div class="portfolio__head">
      <h2 data-aos="fade-right" class="s-title">Технологический стек защиты</h2>
    </div>

    <div class="swiper protect-tech-slider">
      <div class="swiper-wrapper">

        <div class="swiper-slide protect-tech-slide">
          <img src="@img/prot-tech-1.svg" alt="logo">
          <span>Cloudflare</span>
        </div>

        <div class="swiper-slide protect-tech-slide">
          <img src="@img/prot-tech-2.svg" alt="logo">
          <span>Nginx</span>
        </div>

        <div class="swiper-slide protect-tech-slide">
          <img src="@img/prot-tech-3.svg" alt="logo">
          <span>Selectel</span>
        </div>

        <div class="swiper-slide protect-tech-slide">
          <img src="@img/prot-tech-4.svg" alt="logo">
          <span>Yandex Cloud</span>
        </div>

        <div class="swiper-slide protect-tech-slide">
          <img src="@img/prot-tech-5.svg" alt="logo">
          <span>Prometheus</span>
        </div>

        <div class="swiper-slide protect-tech-slide">
          <img src="@img/prot-tech-6.svg" alt="logo">
          <span>Grafana</span>
        </div>

         <div class="swiper-slide protect-tech-slide">
          <img src="@img/prot-tech-1.svg" alt="logo">
          <span>Cloudflare</span>
        </div>

        <div class="swiper-slide protect-tech-slide">
          <img src="@img/prot-tech-2.svg" alt="logo">
          <span>Nginx</span>
        </div>

        <div class="swiper-slide protect-tech-slide">
          <img src="@img/prot-tech-3.svg" alt="logo">
          <span>Selectel</span>
        </div>

        <div class="swiper-slide protect-tech-slide">
          <img src="@img/prot-tech-4.svg" alt="logo">
          <span>Yandex Cloud</span>
        </div>

        <div class="swiper-slide protect-tech-slide">
          <img src="@img/prot-tech-5.svg" alt="logo">
          <span>Prometheus</span>
        </div>

        <div class="swiper-slide protect-tech-slide">
          <img src="@img/prot-tech-6.svg" alt="logo">
          <span>Grafana</span>
        </div>

      </div>
    </div>

  </div>



</section>