<section class="sect services">
  <div class="container">
    <div class="portfolio__head">
      <h2 class="s-title mb-0">Чем мы полезны именно вам</h2>
    </div>


    <div class="row" style="--bs-gutter-x: 20px;">
      <div class="col-lg-6 mb-3 pb-1">
        <div class="servicesCard d-flex flex-column h-100" data-aos="fade-up">
          <div class="d-flex gap-1 justify-content-between mb-2">
            <h3>
              Аналитика и проектирование
            </h3>
            <img src="@img/serv-ic-1.svg" alt="icon" class="servicesCardIcon">
          </div>
          <div class="servicesCardDescr fz-18 mb-4">
            Наведём порядок в вашей IT-инфраструктуре и спроектируем систему, готовую к росту.
          </div>
          <div class="servicesCardLinks">
            <ul>
              <li>
                <a href="#">Аудит текущей IT-инфраструктуры</a>
              </li>
              <li>
                <a href="#">
                  Проектирование архитектуры систем
                  <span>БД, API, микросервисы</span>
                </a>
              </li>
              <li>
                <a href="#">UX/UI-дизайн и интерактивные прототипы</a>
              </li>
            </ul>
          </div>
          <div class="servicesCardLogos mt-auto">
            <ul class="d-flex align-items-center flex-wrap">
              <li>
                <img src="@img/figma.svg" alt="logo">
              </li>
              <li>
                <img src="@img/mysql.svg" alt="logo">
              </li>
              <li>
                <img src="@img/vk.svg" alt="logo">
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-6 mb-3 pb-1">
        <div class="servicesCard d-flex flex-column h-100" data-aos="fade-up">
          <div class="d-flex gap-1 justify-content-between mb-2">
            <h3>
              Сложные интеграции и разработка
            </h3>
            <img src="@img/serv-ic-2.svg" alt="icon" class="servicesCardIcon">
          </div>
          <div class="servicesCardDescr fz-18 mb-4">
            Свяжем 1С с сайтом, CRM с телефонией, разработаем B2B-портал или систему умного дома.
          </div>
          <div class="servicesCardLinks">
            <ul>
              <li>
                <a href="#">
                  Интеграция 1С и сайта
                  <span>OData, обмен в реальном времени</span>
                </a>
              </li>
              <li>
                <a href="#">
                  B2B-порталы и личные кабинеты для дилеров
                </a>
              </li>
              <li>
                <a href="#">
                  Интеграция с любыми CRM-системами
                  <span>amoCRM, Битрикс24, Jivo, YClients</span>
                </a>
              </li>
              <li>
                <a href="#">
                  Проектирование и программирование систем умного дома
                </a>
              </li>
            </ul>
          </div>
          <div class="servicesCardLogos mt-auto">
            <ul class="d-flex align-items-center flex-wrap">
              <li>
                <img src="@img/python.svg" alt="logo">
              </li>
              <li>
                <img src="@img/django.svg" alt="logo">
              </li>
              <li>
                <img src="@img/fast.svg" alt="logo">
              </li>
              <li>
                <img src="@img/1c.svg" alt="logo">
              </li>
              <li>
                <img src="@img/php.svg" alt="logo">
              </li>
              <li>
                <img src="@img/bitrix.svg" alt="logo">
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-6 mb-3 pb-1">
        <div class="servicesCard d-flex flex-column h-100 bg--yellow" data-aos="fade-up">
          <div class="d-flex gap-1 justify-content-between mb-2">
            <h3>
              AI и облачные технологии
            </h3>
            <img src="@img/serv-ic-3.svg" alt="icon" class="servicesCardIcon">
          </div>
          <div class="servicesCardDescr fz-18 mb-4">
            Внедрим искусственный интеллект в ваш бизнес и перенесём серверы на российские облака без потери скорости.
          </div>
          <div class="servicesCardLinks">
            <ul>
              <li>
                <a href="#">
                  AI-боты и ассистенты
                  <span>YandexGPT, Telegram, МАКС</span>
                </a>
              </li>
              <li>
                <a href="#">
                  Миграция на российский хостинг
                  <span>Selectel, Yandex Cloud, VK Cloud</span>
                </a>
              </li>
            </ul>
          </div>
          <div class="servicesCardLogos mt-auto">
            <ul class="d-flex align-items-center flex-wrap">
              <li>
                <img src="@img/gpt.svg" alt="logo">
              </li>
              <li>
                <img src="@img/cloud.svg" alt="logo">
              </li>
              <li>
                <img src="@img/cd.svg" alt="logo">
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-6 mb-3 pb-1">
        <div class="servicesCard d-flex flex-column h-100" data-aos="fade-up">
          <div class="d-flex gap-1 justify-content-between mb-2">
            <h3>
              Рост и поддержка
            </h3>
            <img src="@img/serv-ic-4.svg" alt="icon" class="servicesCardIcon">
          </div>
          <div class="servicesCardDescr fz-18 mb-4">
            Усилим вашу команду опытными Python-разработчиками, доработаем текущий проект и приведём целевой трафик.
          </div>
          <div class="servicesCardLinks">
            <ul>
              <li>
                <a href="#">
                  Доработка и поддержка текущих проектов на любом этапе
                </a>
              </li>
              <li>
                <a href="#">
                  SEO-продвижение и настройка рекламы
                  <span>Яндекс.Директ, VK</span>
                </a>
              </li>
              <li>
                <a href="#">
                  Python-аутстаффинг
                </a>
              </li>
            </ul>
          </div>
          <div class="servicesCardLogos mt-auto">
            <ul class="d-flex align-items-center flex-wrap">
              <li>
                <img src="@img/python.svg" alt="logo">
              </li>
              <li>
                <img src="@img/django.svg" alt="logo">
              </li>
              <li>
                <img src="@img/fast.svg" alt="logo">
              </li>
              <li>
                <img src="@img/yougile.svg" alt="logo">
              </li>
              <li>
                <img src="@img/metrika.svg" alt="logo">
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <a href="#" class="button _simple mt-4 mt-md-5 portfolio__more px-0">Все услуги</a>

  </div>
</section>