<section class="services sect bg-white">
	<div class="container">
		<div class="row" style="--bs-gutter-x: 20px;">
			<div class="col-lg-4 mb-3 pb-1">
				<div class="p-32 bg-light rounded-1 d-flex flex-column h-100">
					<h3 class="h3 fw-semibold mb-2"><a class="hover-yellow" href="#">Защита от DDoS-атак</a></h3>
					<div class="fz-18 mb-4">
						Гарантируем 100% доступность ваших веб-ресурсов в периоды пиковых нагрузок и спланированных кибератак.
						Развертываем интеллектуальную двухэшелонную защиту, которая блокирует бот-сети, сохраняя полную скорость
						доступа для реальных клиентов.
					</div>
					<a href="#" class="button _black mt-auto gap-1">
						Подробнее
						<svg style="width: 24px; height: 24px; fill: var(--black); stroke: var(--black);">
							<use xlink:href="img/icons/icons.svg#arrow-up-right"></use>
						</svg>
					</a>
				</div>
			</div>
			<div class="col-lg-4 mb-3 pb-1">
				<div class="p-32 bg-light rounded-1 d-flex flex-column h-100">
					<h3 class="h3 fw-semibold mb-2"><a class="hover-yellow" href="#">Защита инфраструктуры и VPN</a>
					</h3>
					<div class="fz-18 mb-4">
						Обеспечим тотальный контроль безопасности ваших серверов, баз данных и интеграционных шлюзов. Закроем
						внутренние и внешние уязвимости систем, внедрим надежное резервное копирование и возьмем администрирование
						на себя с финансовыми гарантиями SLA.
					</div>
					<a href="#" class="button _black mt-auto gap-1">
						Подробнее
						<svg style="width: 24px; height: 24px; fill: var(--black); stroke: var(--black);">
							<use xlink:href="img/icons/icons.svg#arrow-up-right"></use>
						</svg>
					</a>
				</div>
			</div>
			<div class="col-lg-4 mb-3 pb-1">
				<div class="p-32 bg-light rounded-1 d-flex flex-column h-100">
					<h3 class="h3 fw-semibold mb-2"><a class="hover-yellow" href="#">Отказоустойчивая IT-инфраструктура</a></h3>
					<div class="fz-18 mb-4">
						Создаем надежный фундамент для крупных ИТ-продуктов, интернет-магазинов и федеральных сервисов. Внедряем
						современные DevOps-практики, контейнеризацию и балансировку нагрузок. Переносим инфраструктуру в надежные
						российские облака Selectel, Yandex Cloud и VK Cloud без остановки бизнес-процессов.
					</div>
					<a href="#" class="button _black mt-auto gap-1">
						Подробнее
						<svg style="width: 24px; height: 24px; fill: var(--black); stroke: var(--black);">
							<use xlink:href="img/icons/icons.svg#arrow-up-right"></use>
						</svg>
					</a>
				</div>
			</div>
			<div class="col-lg-4 mb-3 pb-1">
				<div class="p-32 bg-light rounded-1 d-flex flex-column h-100">
					<h3 class="h3 fw-semibold mb-2"><a class="hover-yellow" href="#">Информационная безопасность и пентест</a>
					</h3>
					<div class="fz-18 mb-4">
						Выявим и заблокируем каналы утечки конфиденциальной информации, найдем скрытые уязвимости в коде ваших
						сайтов и базах данных. Проводим профессиональное тестирование на проникновение (пентест) и выстраиваем
						надежные корпоративные стандарты защиты коммерческой тайны.
					</div>
					<a href="#" class="button _black mt-auto gap-1">
						Подробнее
						<svg style="width: 24px; height: 24px; fill: var(--black); stroke: var(--black);">
							<use xlink:href="img/icons/icons.svg#arrow-up-right"></use>
						</svg>
					</a>
				</div>
			</div>
			<div class="col-lg-4 mb-3 pb-1">
				<div class="p-32 bg-light rounded-1 d-flex flex-column h-100">
					<h3 class="h3 fw-semibold mb-2"><a class="hover-yellow" href="#">Защита персональных данных по 152-ФЗ</a>
					</h3>
					<div class="fz-18 mb-4">
						Построим юридически и технически защищенный контур для сбора, обработки и хранения конфиденциальной
						информации клиентов. Защитим ваш бизнес от проверок Роскомнадзора, утечек данных и штрафов до 15 000 000
						рублей, сохранив высокую конверсию лид-форм.
					</div>
					<a href="#" class="button _black mt-auto gap-1">
						Подробнее
						<svg style="width: 24px; height: 24px; fill: var(--black); stroke: var(--black);">
							<use xlink:href="img/icons/icons.svg#arrow-up-right"></use>
						</svg>
					</a>
				</div>
			</div>
			<div class="col-lg-4 mb-3 pb-1">
				<div class="p-32 bg-light rounded-1 d-flex flex-column h-100">
					<h3 class="h3 fw-semibold mb-2"><a class="hover-yellow" href="#">Харденинг систем и защита API</a>
					</h3>
					<div class="fz-18 mb-4">
						Переведем ваши ИТ-системы из режима базовых настроек в режим максимальной защищенности. Внедрим строгие
						ролевые модели доступа (RBAC), укрепим конфигурации серверов и СУБД, защитим API-шлюзы связи сайтов с 1С и
						внешними CRM по протоколам OAuth2.
					</div>
					<a href="#" class="button _black mt-auto gap-1">
						Подробнее
						<svg style="width: 24px; height: 24px; fill: var(--black); stroke: var(--black);">
							<use xlink:href="img/icons/icons.svg#arrow-up-right"></use>
						</svg>
					</a>
				</div>
			</div>
		</div>
	</div>
</section>