<section class="services sect bg-white">
	<div class="container">
		<div class="row">
			<div class="col-lg-4">
				<div class="p-32 bg-light rounded-1 d-flex flex-column h-100">
					<h3 class="h3 fw-semibold mb-2"><a class="hover-yellow" href="#">Кастомные CRM и B2B-порталы</a></h3>
					<div class="fz-18 mb-4">
						Спроектируем и внедрим централизованную партнерскую платформу с личными кабинетами агентов, автоматическим
						расчетом вознаграждений и двусторонней синхронизацией с Bitrix24.
					</div>
					<a href="#" class="button _black mt-auto">
						Подробнее
						<svg style="width: 24px; height: 24px; fill: var(--black); stroke: var(--black);">
							<use xlink:href="img/icons/icons.svg#arrow-up-right"></use>
						</svg>
					</a>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="p-32 bg-light rounded-1 d-flex flex-column h-100">
					<h3 class="h3 fw-semibold mb-2"><a class="hover-yellow" href="#">Мультирегиональные корпоративные сайты</a></h3>
					<div class="fz-18 mb-4">
						Создадим высоконагруженную веб-платформу со сквозной генерацией региональных поддоменов, динамическим
						контентом под города присутствия и безопасными лид-формами.
					</div>
					<a href="#" class="button _black mt-auto">
						Подробнее
						<svg style="width: 24px; height: 24px; fill: var(--black); stroke: var(--black);">
							<use xlink:href="img/icons/icons.svg#arrow-up-right"></use>
						</svg>
					</a>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="p-32 bg-light rounded-1 d-flex flex-column h-100">
					<h3 class="h3 fw-semibold mb-2"><a class="hover-yellow" href="#">Интерактивные виджеты и калькуляторы</a></h3>
					<div class="fz-18 mb-4">
						Тут нет текста
					</div>
					<a href="#" class="button _black mt-auto">
						Подробнее
						<svg style="width: 24px; height: 24px; fill: var(--black); stroke: var(--black);">
							<use xlink:href="img/icons/icons.svg#arrow-up-right"></use>
						</svg>
					</a>
				</div>
			</div>
		</div>
	</div>
</section>