<section class="sect stat bg--black p-0">
  <div class="container">

    <div class="row">
      <div class="col-lg-4 d-flex flex-column justify-content-center">
        <div class="statItem" data-aos-duration="700" data-aos="flip-left">
          <div class="statItemTitle mb-2">
            18+
          </div>
          <div class="statItemDescr">
            лет работы
          </div>
        </div>
      </div>
      <div class="col-lg-4 d-flex flex-column justify-content-center">
        <div class="statItem" data-aos-duration="700" data-aos="flip-up">
          <div class="statItemTitle mb-2">
            500+
          </div>
          <div class="statItemDescr">
            проектов разработано
          </div>
        </div>
      </div>
      <div class="col-lg-4 d-flex flex-column justify-content-center">
        <div class="statItem" data-aos-duration="700" data-aos="flip-right">
          <div class="statItemTitle mb-2">
            120+
          </div>
          <div class="statItemDescr">
            сайтов на поддержке на наших серверах
          </div>
        </div>
      </div>
    </div>
  </div>
</section>