<section class="partners sect overflow-hidden bg-white">
  <div class="container">
    <div class="portfolio__head">
      <h2 data-aos="fade-right" class="s-title">Технологии и стек</h2>
    </div>

    <div class="techGrid">
      <div class="techItem" data-aos-duration="700" data-aos="flip-up">
        <img src="@img/tech-1.svg" alt="icons">
        <span>Python</span>
      </div>
      <div class="techItem" data-aos-duration="700" data-aos="flip-up">
        <img src="@img/tech-2.svg" alt="icons">
        <span>Django</span>
      </div>
      <div class="techItem" data-aos-duration="700" data-aos="flip-up">
        <img src="@img/tech-3.svg" alt="icons">
        <span>DRF</span>
      </div>
      <div class="techItem" data-aos-duration="700" data-aos="flip-up">
        <img src="@img/tech-4.svg" alt="icons">
        <span>FastAPI</span>
      </div>
      <div class="techItem" data-aos-duration="700" data-aos="flip-up">
        <img src="@img/tech-5.svg" alt="icons">
        <span>MySQL</span>
      </div>
      <div class="techItem" data-aos-duration="700" data-aos="flip-up">
        <img src="@img/tech-6.svg" alt="icons">
        <span>PHP</span>
      </div>
      <div class="techItem" data-aos-duration="700" data-aos="flip-up">
        <img src="@img/tech-7.svg" alt="icons">
        <span>GIT</span>
      </div>
      <div class="techItem" data-aos-duration="700" data-aos="flip-up">
        <img src="@img/tech-8.svg" alt="icons">
        <span>Yandex Cloud</span>
      </div>
      <div class="techItem" data-aos-duration="700" data-aos="flip-up">
        <img src="@img/tech-9.svg" alt="icons">
        <span>VK cloud</span>
      </div>
      <div class="techItem" data-aos-duration="700" data-aos="flip-up">
        <img src="@img/tech-10.svg" alt="icons">
        <span>Selectel</span>
      </div>
    </div>

  </div>



</section>